/* Bai */
ul.danh-sach-bai-container{
    list-style-type:none;
    margin:0;
    padding:20px;
    background-color:#f1f1f1;
}
ul.danh-sach-bai-container > li:first-child{
    margin-bottom:10px;
    display:flex;
    justify-content:flex-end;
}

ul > bai > .box-list-item{
    margin-bottom:10px;
    background-color:#ffffff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
ul > bai:last-child > .box-list-item{
    margin-bottom:0px;
}

.box{
    
}
.box > .box-header{
    padding: 5px 10px 5px 20px;
    display:flex;
    align-items:center;
}
.box > .box-header > .float-left-items{
    flex-grow:1;
}
.box > .box-header > .float-right-items{
    display:flex;
    color: #6f6f6f;
    line-height: 1;
}
.box > .box-header > .float-right-items > .box-header-button{
    padding: 0px 5px;
    /* border:1px solid black; */
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    height: 22px;
    display: flex;
    align-items: center;
}
.box > .box-header > .float-right-items > .box-header-button:hover{
    background-color: #ececec;
}
.box > .box-header > .float-right-items > .box-header-button:last-child{
    margin-right:0px;
}
.box > .box-header > .float-right-items > .box-header-button.button{
    display:flex;
    border: 1px solid #c1c1c1;
}
.box > .box-header > .float-right-items > .box-header-button.menu{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    padding: 3px 10px;
}
.box > .box-header > .float-right-items > .box-header-button.menu:active{
    background-color:#ececec;
}
.box > .box-header > .float-right-items > .box-header-text{
    display:flex;
    align-items:center;
    margin-right: 26px;
}
.box-header-button.menu > .menu-container > box-header-menu > .box-header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.box-header-button.menu > .menu-container > box-header-menu > .box-header-menu > li.menu-item {
    white-space:nowrap;
    padding:3px 10px;
    border-radius: 3px;
}
.box-header-button.menu > .menu-container > box-header-menu > .box-header-menu > li.menu-item:hover {
    background-color: #ececec;
}
.box > .box-header > .float-right-items > .box-header-button.menu > .menu-container{
    box-shadow: 0px 0px 1px 0px #7d7d7d;
    padding: 10px 10px;
    position:absolute;
    right:0px;
    top: 30px;
    display:none;
}
.box > .box-header > .float-right-items > .box-header-button.menu > .menu-container.show{
    display:block;
    background-color: white;
    z-index: 2;
    border-radius: 3px;
}
.box.bai > .box-body{
    /* padding:10px 10px; */
}
.box.bai > .box-body > .phan-cauhoi{
    padding:20px;
    background-color:#ececec;
    box-shadow: inset 0px 3px 4px 0px #adadad;
}
.box.bai > .box-body > .phan-noidung-debai{
    padding: 0px 20px 10px 20px;
}
.box.bai > .box-body > .phan-noidung-debai.editmode .template-noidung{
    margin-bottom:5px;
    position:relative;
}
.phan-noidung-debai .template-noidung > .floating-button-panel{
    display:none;
    position:absolute;
    right:20px;
    top:calc(50% - 5px);
    transform:translateY(-50%);
    font-size:10pt;
    color:grey;    
}

.phan-noidung-debai .template-noidung > .floating-button-panel > .floating-button{    
    cursor:pointer;
    border:1px solid #b3b3b3;
    border-radius:3px;
    padding:0px 3px;
    margin-right:5px;
    background-color:white;
    display:flex;
    align-items:center;
}

.phan-noidung-debai.editmode .template-noidung:hover > .floating-button-panel{
    display:flex;
}

.box.bai > .box-body > .phan-noidung-debai.editmode{
    border: 1px dashed #a7a7a7;
    margin: 10px;
    padding: 10px;
}
.box.bai{

}
.phan-noidung-debai > div[name='btnThemNoidungDebai']{
    /* margin-top:10px; */
}

/* Template noidung text */
.templatenoidung-text > .edit-mode{
    padding: 0px 0px;
}
.templatenoidung-text > .edit-mode > textarea, input{
    width:100%;
}
/*------MessageBox------------*/
.message-box-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(160, 160, 160, 0.59);
    z-index:10;
    display:none;
}
.message-box-overlay.open{
    display:block;
}
.message-box-dialog{
    position:absolute;
    top:50%;
    left:50%;
    border:1px solid black;
    display:flex;
    flex-direction:column;
    background-color:white;
}
.message-box-dialog > .header{
    display:flex;
    border-bottom:1px solid black;
    padding:5px 10px;
}
.message-box-dialog > .header > .title{
    flex-grow:1;
}
.message-box-dialog > .body{
    padding:20px 40px;
}
.message-box-dialog > .footer{
    display:flex;
    justify-content:flex-end;
    padding:5px 10px;
}
.message-box-dialog > .footer > .btn{
    border:1px solid black;
    margin-right:5px;
}
.message-box-dialog > .footer > .btn:last-child{
    margin-right:0px;
}