<li ng-switch="$ctrl.isEditMode" class="box-list-item bai">
    <div class="box-preview cauhoi">
        <div class="floating-command-panel">
            <div class="floating-button button-edit">Edit</div>
        </div>
        <div class="phan-noidung-cauhoi">
            <templatenoidung-text ng-repeat="tmp in $ctrl.data.ds_templatenoidungdebai" data="tmp" ng-if="tmp.loai_template=='TEXT'"></templatenoidung-text>
        </div>
        <div class="phan-dapan">
            
        </div>
    </div>
    <div ng-switch-when="edit" class="box-edit cauhoi">
        
    </div>
</li>

